
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

#logo{
    width: 150px;
    
    padding-right: 30px;
    display:flex;
    top: 2rem;
    height: 80px;
     align-items: center;
}

.container{
  display: flex;
  gap:150px;
   height:75px;
   background-size: cover;
   background-image: contain;
   background-color: darkblue;
}


html {
    scroll-behavior: smooth;
}

.nav-right{
    text-align: right;
    gap: 25px;
    justify-content:left;
    align-items: center;
    margin-top: 10px;
    width: 1020px;
    
}

#nav{
    text-decoration: none;
     font-size: 35px;
     padding: 10px;
      
    color: white;
    
    font-weight:600;
     align-items: center;
     
    
}


  .nav-right a:hover {
  background-color: brown;
  transform: scale(1.2);
  transition: (0.3s);
  
}



#nav {
    box-shadow: 0 5px 20px rgba(0,0,0,0.25);
}
  
  

#signup{
    text-decoration: none;
    font-size: 37px;
     padding: 10px;
     margin-left: 30px;
     margin-top: 10px;
    font-size: medium;
    color: white;
    background-color:  rgb(33, 143, 246);
    font-weight: lighter;
     align-items: center;
} 

#signup:hover{
  background-color: rgb(30, 129, 204);
  transform: scale(1.2);
  transition: (0.3s);
  border-radius: 8px;
 
}

/* PAST EVENT START FROM HERE */

.para{
    height:150px;
   text-align: center;
   font-weight: bold;
   font-size: 48px;
   padding: 45px;
   background-color:  #8f022a;
  color: white;
  word-spacing: 10px;
  border-radius: 0 0 20px 20px;

}





.section-title {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
}


.event {
     background:#d75f91;
    /* ;rgb(234, 181, 209);  */
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(50, 7, 7, 0.1);
    transition: 0.3s;
}

.event:hover {
    transform: translateY(-7px);
    box-shadow: 0 8px 25px rgba(203, 11, 11, 0.2);
}

.event img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
}

.event h3 {
    margin-top: 15px;
    font-size: 20px;
}

.club {
    font-weight: bold;
    color: #640a6ebc;
}

.info {
    font-size: 14px;
    color:white;
    margin: 8px 0;
}


.Explore {
    margin-top: 10px;
    padding: 10px 15px;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.Explore:hover {
    background: #005fcc;
}
